

body {
	background-color: #90EE90;
}

legend {
	color: #00008B;
}

label {
	color: black;
	margin-right: 10px;
}

h2 {
	color: #00008B;
	font-family: Florence, cursive;
	text-shadow: 5px 2px 4px grey;
}

fieldset#details {
	display: flex;
	flex-direction: column;
	align-items: left;
}

input {
	max-width: 300px;
}
