

body {
	background-color: #ADD8E6;
}

legend {
	color: #00008B;
}

label {
	color: black;
	margin-right: 10px;
}

h2 {
	color: #00008B;
	font-family: Florence, cursive;
	text-shadow: 5px 2px 4px grey;
}

input {
	max-width: 300px;
}

.flexbox-container {
	display: flex;
	flex-direction: row;
}

.label-list {
	display: flex;
	flex-direction: column;
}

.label-input {
	display: flex;
	flex-direction: column;
}

.label-alignment {
	display: flex;
	justify-content: end;
}

.display-text {
	display: flex;
	font-family: consolas;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #FFFFFF;
}

.buttonformat {
	display: flex;
	flex-direction: row;
}

.list-items {
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
}
