

body {
	background-color: #ADD8E6;
}

legend {
	color: #00008B;
}

label {
	color: black;
	margin-right: 10px;
}

h2 {
	color: #00008B;
	font-family: Florence, cursive;
	text-shadow: 5px 2px 4px grey;
}

input {
	max-width: 300px;
}

.flexbox-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5px;
}

.label-input {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 5px;
}

.buttonformat {
	display: flex;
	flex-direction: row;
}

.total-value {
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	margin: 100px;
}

.tax-item {
	display: flex;
}

.format-label {
	display:flex;
	flex-direction: row;
	padding: 2px;
}

.label-input {
	display: flex;
	flex-direction: column;
	padding: 2px;
}

/* tax label container*/
.tax-label-container {
	display: flex;
	flex-direction: row;
	padding: 1px;
}

.tax-label {
	display: flex;
	flex-direction: column;
	width: 155px;
}

.tax-input {
	display: flex;
	flex-direction: column;
	padding: 2px;
}
